.borderColor {
  border-color: red;
}

input {
  outline: none;
}

input:focus {
  border-color: none !important;
}

.errorMessage {
  font-size: 13px;
  color: red;
  padding: 3px;
  display: none;
}

input:invalid[focused="true"],
textarea:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span,
textarea:invalid[focused="true"] ~ span {
  display: block;
}
