@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

// font-family: 'Montserrat', sans-serif;

* {
  .link {
    text-decoration: none;
    color: inherit;
  }
}

.nav-location {
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .nav-location {
    margin-left: 17px !important;
  }
}
